<nav class="navbar navbar-expand-md navbar-dark fixed-top scrolling-navbar" style="background:#18191d;  color:#fe8d01!important;">
    <div class="container smooth-scroll">
        <a class="navbar-brand mr-auto" href="{{path('index')}}"><img src="{{asset('./assets/img/logo.png')}}" class="img-fluid" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse show" id="navbarSupportedContent-7">
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item {% if homeActive == 1 %} active {% endif %}">
                    <a class="nav-link waves-effect baseTextColor" href="{{path('index')}}"><i class="fas fa-home"></i>Accueil</a>
                </li>
                <li class="nav-item dropdown notifications-nav {% if homeActive == 2 %} active {% endif %}">
                    <a class="nav-link dropdown-toggle waves-effect baseTextColor" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {# <span class=" badge blue-gradient-rgba">10</span> #} <i class="fas fa-bell"></i>Emplois
                    </a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item waves-effect waves-light {% if app.request.attributes.get("_route") is same as ('emploi') %} {% if typeActive == 1 %} active {% endif %} {% endif %}" href="{{path('emploi', {'type': 'offres'})}}">
                            <i class="fas fa-money mr-2" aria-hidden="true"></i>
                            <span>Offres</span>
                            {# <span class="float-right" style="color:#fe8d01;">5</span> #}
                        </a>
                        <a class="dropdown-item waves-effect waves-light {% if app.request.attributes.get("_route") is same as ('emploi') %} {% if typeActive == 2 %} active {% endif %} {% endif %}" href="{{path('emploi', {'type': 'appels'})}}">
                            <i class="fas fa-money mr-2" aria-hidden="true"></i>
                            <span>Appels</span>
                            {# <span class="float-right" style="color:#fe8d01;">5</span> #}
                        </a>
                    </div>
                </li>

                <li class="nav-item {% if homeActive is same as ('createagent') %} active {% endif %}">
                    <a class="nav-link waves-effect baseTextColor" href="{{path('admin')}}"><i class="fas fa-user-plus"></i>Création de compte</a>
                </li>
        
                <li class="nav-item {% if homeActive == 5 %} active {% endif %}">
                    <a class="nav-link waves-effect baseTextColor" href="{{path('contact')}}"><i class="fas fa-envelope"></i>Contact</a>
                </li>
                
                <li class="nav-item dropdown notifications-nav {% if homeActive is same as ('profile') %} active {% endif %}">
                    <a class="nav-link dropdown-toggle waves-effect baseTextColor" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-user"></i>  Profil
                    </a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        {# {% if app.request.attributes.get("_route") is same as ('emploi') %} {% if typeActive == 1 %} active {% endif %} {% endif %}" href="{{path('emploi', {'type': 'offres'})}}" #}
                        <a class="dropdown-item waves-effect waves-light">
                            <i class="fas fa-lock mr-2 baseTextColor" aria-hidden="true" href="#"></i>
                            <span>Modifier mon mot de passe</span>
                            
                        </a>
                        <a class="dropdown-item waves-effect waves-light" href="{{path('app_logout')}}">
                            <i class="fas fa-sign-out-alt mr-2 baseTextColor" aria-hidden="true"></i>
                            <span>Déconnexion</span>
                        </a>
                    </div>
                </li>

                <li class="nav-item ">
                    <form class="form-inline" method="post">
                        <div class="md-form my-0">
                            <input class="baseTextColor" type="search" placeholder="Rechercher..." aria-label="Search" style="border-color:orange">
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>




