{% extends "base.html.twig" %}
{% block title %}AFRIQUEBAARA - Offres d'emploi{% endblock %}
{% block body %}
    <section class="container-fluid section pb-3 text-center text-lg-left wow fadeIn" data-wow-delay="0.3s">
        <div class="text-center col-sm-8 col-md-12">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show justify-content-center" role="alert">
                    <strong> {{ message }} </strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            {% for messagee in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissible fade show justify-content-center" role="alert">
                    <strong> {{ messagee }} </strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
        <!--Section heading-->
        <h2 class="font-weight-bold text-center h1 my-5"> 
            {% if typeActive == 1 %} 
                Les offres d'emploi 
            {% elseif typeActive == 2 %} 
                Les appels d'emploi  
            {% elseif g == 'pays' %} 
                Emploi | {{name}}
            {% endif %}
        </h2>
        <!--Section description-->
        {# <p class="text-center grey-text mb-5 mx-auto w-responsive">Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
        </p> #}
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-8 mr-auto bg-beige">
                <!--Grid row-->
               
                {% for emploi in emploi %}
                    <div class="row">

                        <!--Grid column-->
                            <div class="col-lg-4 mb-4">
                                <!--Featured image-->
                                <div class="view overlay z-depth-1 w-75 h-auto">
                                    <img src="{{asset('./assets/files/emploi/'~ emploi.img)}}" class="img-fluid" alt="First sample image">
                                    <div class="mask rgba-white-slight"></div>
                                </div>
                            </div>
                        <!--Grid column-->

                        <!--Grid column-->
                            <div class="col-lg-7 mb-4">
                                <!--Excerpt-->
                                <a class="brown-text">
                                <h6 class="pb-1"><i class="fas fa-briefcase"></i><strong> {{emploi.societyname}}</strong></h6>
                                </a>
                                <h4 class="mb-4"><strong>{{emploi.title}}</strong></h4>
                                <p class ="text-truncate">{{emploi.mission}}</p>
                                <div class="row">
                                    <p class="mr-auto font-weight-bold">par <a class="font-weight-bold">{{emploi.societyname}} <i class="fas fa-calendar-check"></i></a>, le {{emploi.datepost}}</p>
                                    <p class="ml-auto font-weight-bold">Date limite <i class="fas fa-calendar-times"></i> {{emploi.datelimit}}</p>
                                </div>
                                <a class="btn btn-dark baseTextColor" href="{{path('emploidetails',{'emploi':emploi.id})}}">Voir plus</a>
                            </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->

                    <hr class="mb-2">
                {% endfor %}
                

                <!--Pagination dark-->
                <nav class="wow fadeIn mb-4 mt-5" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                    <div class="pagination pg-dark flex-center">
                        <!--Arrow left-->
                        {{ knp_pagination_render(emploi) }}
                    </div>
                </nav>
                <!--/Pagination dark--> 
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 mb-lg-0 mb-4 ml-auto">
                    <!-- Card  -->
                    <div class="card card-cascade narrower">
                        <div class="view view-cascade gradient-card-header info-color baseBackColor baseTextColor">
                            <h4 class="mb-0 font-weight-500">Filtrer par</h4>
                        </div>
                        {# <hr class="mb-1"> #}
                        <div class="card-body text-center px-4 mb-3">
                            
                            <div class="list-group list-panel">
                                <h5 class="mb-0 font-weight-bold list-group-item">Pays</h5>
                                {% for pays in pays %}
                                    {% if pays.emplois.count > 0 %}
                                        <a href="{{path('emploi',{'type':type, 'pays':pays.id, 'name':pays.name})}}" class="list-group-item d-flex justify-content-between dark-grey-text">{{pays.name}}
                                            <span class="badge blue rounded">{{pays.emplois.count}}</span>
                                        </a>
                                     {% endif %}
                                {% endfor %}
                            </div>
                            <hr class="orange">
                            <div class="list-group list-panel">
                                <h5 class="mb-0 font-weight-bold list-group-item">Catégories d'activité</h5>
                                {% for categories in categories %}
                                    {% if categories.emplois.count > 0 %}
                                        <a href="{{path('emploi',{'type':type, 'categorie':categories.id, 'name':categories.name})}}" class="list-group-item d-flex justify-content-between dark-grey-text">{{categories.name}}
                                            <span class="badge blue rounded">{{categories.emplois.count}}</span>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <hr class="orange">
                            <div class="list-group list-panel">
                                <h5 class="mb-0 font-weight-bold list-group-item">Ville</h5>
                                {% for ville in ville %}
                                    {% if ville.emplois.count > 0 %}
                                        <a href="{{path('emploi',{'type':type, 'localite':ville.id, 'name':ville.name})}}" class="list-group-item d-flex justify-content-between dark-grey-text">{{ville.name}}
                                            <span class="badge blue rounded">{{ville.emplois.count}}</span>
                                        </a>    
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <hr class="orange">
                            <div class="list-group list-panel">
                                <h5 class="mb-0 font-weight-bold list-group-item">Contrat</h5>
                                {% for contrat in contrat %}
                                {% if contrat.emplois.count > 0 %}
                                        <a href="{{path('emploi',{'type':type, 'contrat':contrat.id, 'name':contrat.sigle})}}" class="list-group-item d-flex justify-content-between dark-grey-text">{{contrat.sigle}}
                                            <span class="badge blue rounded">{{contrat.emplois.count}}</span>
                                        </a>
                                    {% endif %} 
                                {% endfor %}
                            </div>
                            <hr class="orange">
                            <div class="list-group list-panel">
                                <h5 class="mb-0 font-weight-bold list-group-item">Recruteur</h5>
                                {% for user in user %}   
                                    {% if user.type is same as ('Recruteur') %}
                                        <a href="#" class="list-group-item d-flex justify-content-between dark-grey-text">{{user.societyname}}
                                            {# <span class="badge blue rounded">10</span> #}
                                        </a>
                                    {% endif %} 
                                {% endfor %}
                            </div>
            
                            
                        </div>
                    </div>
                    <!-- Card -->
            </div>
        </div>
    </section>
{% endblock %}