{% extends "base.html.twig" %}
{% block title %}AFRIQUEBAARA - Abonnement{% endblock %}
{% block body %}
    <main>
        <section class="card card-cascade narrower">
            <div class="view view-cascade gradient-card-header blue-gradient">
                <div class="row justify-content-center text-center">
                    <h5 class="mb-4 font-weight-bold">Que voulez-vous voir ?</h5>
                </div>
                <div class="row col-sm-12">
                    <div class="mx-auto col-sm-12">
                        <button type="button" class="btn btn-sm col-sm-6" id="Candidat">Abonnés</button> 
                        <button type="button" class="btn btn-sm col-sm-6" id="Recruteur">Demandes d'abonnement</button> 
                    </div>
                </div>
            </div>
        </section>
        
        <div class="row flex-center mt-sm-3 ">
            <div class="justify-content-center text-center col-sm-8 col-lg-12">
                {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show justify-content-center" role="alert">
                    <strong> {{ message }} </strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% for cancel in app.flashes('cancel') %}
                <div class="alert alert-warning alert-dismissible fade show justify-content-center" role="alert">
                    <strong> {{ cancel }} </strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
           
                
        <div id="showCandidat" class="justify-content-center card-body card-body-cascade text-center table-responsive card" style="display:none">
            <h4 class='mb-1'>Liste des abonnés</h4>
            <table id="dtBasicExample" class="table col-auto">
                <thead>
                    <tr>
                        <th class="th-sm">Logo</th>
                        <th class="th-sm">Prénom</th>
                        <th class="th-sm">Nom</th>
                        <th class="th-sm">N°.Tel</th>
                        <th class="th-sm">Type</th>
                        <th class="th-sm">Date début</th>
                        <th class="th-sm">Date fin</th>
                        <th class="th-sm">Status</th>
                    </tr>
                </thead>
            </table>
        </div> 

        <div id="showRecruteur" class="justify-content-center card-body card-body-cascade text-center table-responsive col-lg-12 mx-auto col-md-auto col-sm-auto card" style="display:none">
            <h4 class='mb-1'>List des recruteurs</h4>
            <table id="dt2" class="table" >
                <thead>
                    <tr>
                        <th class="th-sm">Logo</th>
                        <th class="th-sm">Prénom</th>
                        <th class="th-sm">Nom</th>
                        <th class="th-sm">N°.Tel</th>
                        <th class="th-sm">Date demande</th>
                        <th class="th-sm">Status</th>                         
                    </tr>
                </thead>
                
            </table>
        </div>  
         
           
                
        
                <div class="alert-warning" role="alert" id="noData" style="display:none;">
                    <h4 class="alert-heading text center">Statut</h4>
                    <p>Vous n'avez pas d'abonnés.</p>
                </div>  
                <div class="alert-warning" role="alert" id="noDataR" style="display:none;">
                    <h4 class="alert-heading text center">Statut</h4>
                    <p>Vous n'avez pas de demande d'abonnement.</p>
                </div>      
        
                            
          
                
        
    </main>
     
{% endblock %}
{% block ScriptP %}
    <script>  
        $(document).ready(function () {
            tableOff=$('#dtBasicExample').DataTable({
                ajax:{
                    url:'{{path("listsubscriber")}}',
                    dataSrc:'',
                
                },
                "columns": 
                [
                    { data: 'img', 
                        render: function(data){
                            if(data){
                                return '<div class="testimonial-card td-sm" align="center">'+
                                                '<div class="avatar mt-auto mx-auto">'+ 
                                                    '<img src="{{ asset("assets/files/user/" ) }}/' +data+'"class="profile-pic rounded-circle h-75 w-75" alt="First sample avatar image">'+  
                                                '</div>'+
                                        '</div>'
                            }else{
                                return '<div class="testimonial-card td-sm" align="center">'+
                                                '<div class="avatar mt-auto mx-auto">'+ 
                                                    '<img src="https://oasys.ch/wp-content/uploads/2019/03/photo-avatar-profil.png" class="profile-pic rounded-circle h-75 w-75" alt="First sample avatar image" name="photo">'+  
                                                '</div>'+
                                        '</div>'
                            }
                        },
                        defaultContent:'<img src="https://oasys.ch/wp-content/uploads/2019/03/photo-avatar-profil.png" class="profile-pic rounded-circle h-75 w-75" alt="First sample avatar image" name="photo">'
                    },
                    
                    { data: 'forename' },
                    { data: 'name'},
                    { data: 'telnumber' },
                    { data: 'type' },
                    { data: 'datedeb'},
                    { data: 'datefin'},
                    { data: 'isactive',
                        render: function(data){
                            if(data == "No"){
                                return '<div class=" mt-auto mx-auto">'+ 
                                            '<p class=" text-black-50 red-text font-weight-bolder"> Expiré</p>'+  
                                        '</div>'
                            }
                            if (data == "Yes"){
                                return '<div class=" mt-auto mx-auto">'+ 
                                            '<h5 class=" text-black-50 text-success font-weight-bolder"> En cours</h5>'+  
                                        '</div>'
                            }
                                
                        }
                    },
                  
                ],
                "columnDefs": [
                    {"className": "dt-center", "targets": "_all"}
                ],
                "bPaginate":true,
                "bProcessing": true,
                "responsive":true,
                "pageLength": 5,


            });

            tableOn= $('#dt2').DataTable({
                     ajax:{
                        url:"{{path('listasker')}}",
                        dataSrc:'',
                    
                    },
                    "columns": 
                    [
                        { data: 'img', 
                            render: function(data){
                                if(data){
                                    return '<div class="testimonial-card td-sm" align="center">'+
                                                    '<div class="avatar mt-auto mx-auto">'+ 
                                                        '<img src="{{ asset("assets/files/user/" ) }}/' +data+'"class="profile-pic rounded-circle h-75 w-75" alt="First sample avatar image">'+  
                                                    '</div>'+
                                            '</div>'
                                }else{
                                    return '<div class="testimonial-card td-sm" align="center">'+
                                                    '<div class="avatar mt-auto mx-auto">'+ 
                                                        '<img src="https://oasys.ch/wp-content/uploads/2019/03/photo-avatar-profil.png" class="profile-pic rounded-circle h-75 w-75" alt="First sample avatar image" name="photo">'+  
                                                    '</div>'+
                                            '</div>'
                                }
                            },
                            defaultContent:'<img src="https://oasys.ch/wp-content/uploads/2019/03/photo-avatar-profil.png" class="profile-pic rounded-circle h-75 w-75" alt="First sample avatar image" name="photo">'
                        },
                        { data: 'forename' },
                        { data: 'name'},
                        { data: 'telnumber' },
                        { data: 'data' },
                        
                        { data: 'status',
                        render: function(data, type, row, meta){
                            pathTo="{{ path('newabonnement') }}";
                            
                        
                            if(data){
                                return '<a class="btn btn-outline-success btn-sm" href="'+pathTo+'"  "role="button">'+'Abonnement'+'</a>';   
                            }
                        
                        },

                    },
                        
                    ],
                    "columnDefs": [
                        {"className": "dt-center", "targets": "_all"}
                    ],
                    "bPaginate":true,
                    "bProcessing": true,
                    "responsive":true,
                    "pageLength": 5,
            });
            
            $('.dataTables_length').addClass('bs-select');
            
            var StopTableOff='';
            var StopTableOn='';
            
            $('#dtBasicExample').on( 'draw.dt', function(){
                if (! tableOff.data().any() ) {
                    $('#noData').show('fast');
                }
            });

            $('#dt2').on( 'draw.dt', function(){
                if (! tableOn.data().any() ) {
                    $('#noDataR').show('fast');
                }
            });
            
            
            $('#Candidat').click(function(){
                $(this).hide('fast');
                     
                if($('#showRecruteur').css('display',''))
                {
                    $('#showRecruteur').hide('fast');
                    $('#showCandidat').show('fast');
                    $('#Recruteur').show('fast');
                    clearInterval(StopTableOn);
                } 
               
                
                $('#showCandidat').show('fast');
                StopTableOff=setInterval(function(){
                                tableOff.ajax.reload(null,false);
                            }, 300000);
                
            });

            $('#Recruteur').click(function(){
                 $(this).hide('fast');
                
                if($('#showCandidat').css('display',''))
                {
                    $('#showCandidat').hide('fast');
                    $('#showRecruteur').show('fast');
                    $('#Candidat').show('fast');
                    clearInterval(StopTableOff);
                } 
                $('#showOnDemande').show('fast');
                StopTableOn=setInterval(function(){
                                tableOn.ajax.reload(null,false);
                            }, 10000);
            });
            
            
        });
    </script>
{% endblock %}